<nz-collapse>
  <nz-collapse-panel [nzHeader]="'FOODS.FORM.FILTERS' | translate" [nzActive]="true">
    <app-input-field
      [label]="'FOODS.FORM.FOOD' | translate"
      [placeholder]="'FOODS.FORM.FOOD_NAME' | translate"
    ></app-input-field>
    <app-input-select
      [options]="categoryOptions"
      [label]="'FOODS.FORM.CATEGORIES' | translate"
      [placeholder]="'FOODS.FORM.CATEGORIES' | translate"
      [multiple]="true"
    ></app-input-select>
    <app-slider [label]="'FOODS.FORM.PROTEIN_PER100' | translate"></app-slider>
    <app-slider [label]="'FOODS.FORM.FAT_PER100' | translate"></app-slider>
    <app-slider [label]="'FOODS.FORM.CARBS_PER100' | translate"></app-slider>
    <app-slider [label]="'FOODS.FORM.FIBER_PER100' | translate"></app-slider>
    <app-slider [label]="'FOODS.FORM.SUGAR_PER100' | translate"></app-slider>
    <app-slider [label]="'FOODS.FORM.SALT_PER100' | translate"></app-slider>
    <app-input-range [label]="'FOODS.FORM.CALORIES_PER100' | translate"></app-input-range>
  </nz-collapse-panel>
</nz-collapse>
