<form [formGroup]="createForm" (ngSubmit)="submit()" class="create-food">
  <div class="create-food__grid">
    <app-input-field
      [formControl]="createForm.controls.name.controls.FR"
      [label]="'FOODS.CREATE.NAME_FR' | translate"
    ></app-input-field>
    <app-input-field
      [formControl]="createForm.controls.name.controls.EN"
      [label]="'FOODS.CREATE.NAME_EN' | translate"
    ></app-input-field>
  </div>

  @if (
    createForm.controls.name.errors?.['atLeastOneName'] &&
    (createForm.controls.name.touched || submitted())
  ) {
    <p class="create-food__error">{{ 'FOODS.CREATE.ERRORS.NAME_REQUIRED' | translate }}</p>
  }

  <app-input-select
    [formControl]="createForm.controls.baseUnitCode"
    [options]="unitOptions"
    [label]="'FOODS.CREATE.UNIT' | translate"
    [placeholder]="'FOODS.CREATE.UNIT' | translate"
    [required]="true"
  ></app-input-select>

  <div class="create-food__grid">
    <app-input-field
      type="number"
      [formControl]="createForm.controls.caloriesPer100"
      [label]="'FOODS.FORM.CALORIES_PER100' | translate"
      [required]="true"
      [errorMessage]="'FOODS.CREATE.ERRORS.OUT_OF_RANGE' | translate: { min: 0, max: 1000 }"
    ></app-input-field>
    <app-input-field
      type="number"
      [formControl]="createForm.controls.proteinsPer100"
      [label]="'FOODS.FORM.PROTEIN_PER100' | translate"
      [required]="true"
      [errorMessage]="'FOODS.CREATE.ERRORS.OUT_OF_RANGE' | translate: { min: 0, max: 100 }"
    ></app-input-field>
    <app-input-field
      type="number"
      [formControl]="createForm.controls.carbsPer100"
      [label]="'FOODS.FORM.CARBS_PER100' | translate"
      [required]="true"
      [errorMessage]="'FOODS.CREATE.ERRORS.OUT_OF_RANGE' | translate: { min: 0, max: 100 }"
    ></app-input-field>
    <app-input-field
      type="number"
      [formControl]="createForm.controls.fatsPer100"
      [label]="'FOODS.FORM.FAT_PER100' | translate"
      [required]="true"
      [errorMessage]="'FOODS.CREATE.ERRORS.OUT_OF_RANGE' | translate: { min: 0, max: 100 }"
    ></app-input-field>
    <app-input-field
      type="number"
      [formControl]="createForm.controls.fibersPer100"
      [label]="'FOODS.FORM.FIBER_PER100' | translate"
      [errorMessage]="'FOODS.CREATE.ERRORS.OUT_OF_RANGE' | translate: { min: 0, max: 100 }"
    ></app-input-field>
    <app-input-field
      type="number"
      [formControl]="createForm.controls.sugarsPer100"
      [label]="'FOODS.FORM.SUGAR_PER100' | translate"
      [errorMessage]="'FOODS.CREATE.ERRORS.OUT_OF_RANGE' | translate: { min: 0, max: 100 }"
    ></app-input-field>
    <app-input-field
      type="number"
      [formControl]="createForm.controls.saltPer100"
      [label]="'FOODS.FORM.SALT_PER100' | translate"
      [errorMessage]="'FOODS.CREATE.ERRORS.OUT_OF_RANGE' | translate: { min: 0, max: 100 }"
    ></app-input-field>
  </div>

  @if (errorMessage(); as message) {
    <p class="create-food__error">{{ message | translate }}</p>
  }

  <div class="create-food__actions">
    <button nz-button nzType="primary" type="submit" [nzLoading]="isLoading()">
      {{ 'FOODS.CREATE.SUBMIT' | translate }}
    </button>
  </div>
</form>
